
<div class="container mt-3">
   
    <div class="row mt-5">
        <div class="col">
            <h2>Cadastre um novo funcionário</h2>
         
              
                    <label for="nome">Nome:</label>
                    <input class="form-control" [(ngModel)]="funcionario.nome" id="nome">
                    <br />
                    <label for="sobrenome">Sobrenome:</label>
                    <input class="form-control" [(ngModel)]="funcionario.sobrenome" id="sobrenome">
                    <br />

                    <label for="idade">Idade</label>
                    <input class="form-control" type="number" [(ngModel)]="funcionario.age" id="age">
                    <br />
             
                <button type="button" (click)="salvar()" class="btn btn-primary">Salvar</button>
            
        </div>
    </div>
</div>